.stack {
    margin: 1em auto;
    position: relative;
    width: auto;
    height: 40em;
    padding: 0;
    list-style: none;
}
.stack__card {
    background: #fff;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    position: absolute;
    opacity: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    z-index: 1000;
}

.stack .stack__card__reject {
    -webkit-animation: yudaReject 0.5s forwards;
    animation: yudaReject 0.5s forwards;
}

@-webkit-keyframes yudaReject {
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 200px, 0);
        transform: translate3d(0, 200px, 0);
    }
}

@keyframes yudaReject {
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 200px, 0);
        transform: translate3d(0, 200px, 0);
    }
}

.stack .stack__card__accept {
    -webkit-transform-origin: 50% 300%;
    transform-origin: 50% 300%;
    -webkit-animation: yudaAccept 0.5s forwards;
    animation: yudaAccept 0.5s forwards;
}

@-webkit-keyframes yudaAccept {
    to {
        opacity: 0;
        -webkit-transform: rotate3d(0, 0, 1, 20deg);
        transform: rotate3d(0, 0, 1, 20deg);
    }
}

@keyframes yudaAccept {
    to {
        opacity: 0;
        -webkit-transform: rotate3d(0, 0, 1, 20deg);
        transform: rotate3d(0, 0, 1, 20deg);
    }
}
